<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="wrapper">

    <h1>hej</h1>
    <form action="/createBooks" method="post">

        <input type="text"  class="inputField" name='title' id="title" placeholder="Titel">

        <input type="text"  class="inputField" name='author'  id="author" placeholder="Forfatter">

        <input type="text"  class="inputField" name='numberOfPages'  id="numberOfPages" placeholder="Antal sider">

        <input type="text"  class="inputField" name='isbn'  id="isbn" placeholder="ISBN Nummer">

        <input class="greenButton" type="submit" value="Opret bog"/>
    </form>

</div>
</body>
</html>