<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Info</title>
</head>
<body>
<h1>Animal Info</h1>

<p>
    <span th:text="${animal.getRace()}">

    </span>
</p>
<p>
    <span th:text="${animal.getName()}">

    </span>
</p>
<p>
    <span th:text="${animal.getAge()}">

    </span>
</p>
<p>
    <span th:text="${animal.getNumberOfLegs()}">

    </span>
</p>
<p>
    <span th:text="${animal.getLocation()}">

    </span>
</p>

</body>
</html>